// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #e91e63; //#31E7B6; //#47bbb3;

// $title-color:       #202124;
// $subtitle-color:    darken(#202124, .2);
// $moreinfo-color:    darken(#202124, .2);
$title-color:       rgba(255, 255, 255, 1);
$subtitle-color:    rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 1);

// ----------------------------------------------------------------------------
// Widget-calendar styles
// ----------------------------------------------------------------------------
.widget-google-calendar {
  padding: 0 20px;

  background-color: $background-color;
  .subtitle {
  color: $subtitle-color;
  font-size: 0.75em;
  margin: 5px 0;
  }
  .title {
    color: $title-color;
    font-size: 1.4em;
  }

  .times {
    color: $subtitle-color;
    font-size: 0.9em;
    font-weight: bold;
  }

  .calendar-separator {
    border: 0;
    border-top: 2px solid $subtitle-color;
    box-shadow: 0;
    width: 50%;
  }

  .next {
    font-size: 0.75em;
    margin-top: 10px;
    tr {
      // border-bottom: 1px solid $subtitle-color;
      td {
        text-align: left !important;
        padding-left: 30px;
        color: $moreinfo-color;
      }
    }
  }
  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $subtitle-color;
    bottom: 5px;
    right: 5px;
    left: auto;
    font-size: 0.5em;
  }


  &.large h3 {
    font-size: 65px;
  }
}
