<script type='text/javascript'>

 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":3},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1}]')
   Dashing.widget_base_dimensions = [370, 340]
   Dashing.numColumns = 5
 });
 </script>


<% content_for :title do %>Monitor Dashboard<% end %>
<center><div style="font-size: 18px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="TwelveHourClock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is the dashboard." data-moreinfo="Drag"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
       <div style="pointer-events:none;" id="trafficMap" data-view="Iframe" data-url="/traffic.html"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nest" data-view="Nest" data-title="Nest Temp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-widget_title="Forecast"> ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    </li>


  </ul>
</div>
